{{> header}}

<a-scene id="a-scene" embedded artoolkit="sourceType: webcam; detectionMode: mono_and_matrix; matrixCodeType: 3x3;">
  <a-assets>
    <img id="mma" src="assets/mma.png">
    <img id="mmt" src="assets/mmt.png">
  </a-assets>
  <a-entity camera></a-entity>
</a-scene>
<div class="overlay overlay-rotate-device">
  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 401.856 401.856">
    <g fill="#FFF">
      <path d="M276.085 114.713c-5.326-.698-7.535 2.075-8.233 3.318-.698 1.225-1.98 4.562 1.35 8.808l17.335 22.29c4.055 4.064 10.558 4.466 15.12.937l21.2-16.36c2.867-2.19 3.603-4.534 3.71-6.092.228-3.682-2.65-6.77-7.355-7.382l-10.404-1.328c-1.243-.182-2.553-1.683-2.63-3.07-1.568-30.17-14.238-58.608-35.688-80.066-16.103-16.104-36.347-27.34-58.54-32.532-15.808-3.72-31.997-4.236-48.11-1.52-30.438 5.153-57.576 21.314-76.395 45.507-1.578 2.038-2.792 4.906 1.052 8.75.708.71 1.645 1.54 2.697 2.363 2.343 1.817 7.765 5.996 11.207 1.587 16.324-20.98 39.13-34.55 64.682-38.862 13.502-2.286 27.1-1.865 40.43 1.243 18.628 4.37 35.63 13.818 49.142 27.34 17.576 17.566 28.19 40.842 29.893 65.522l-1.022.765-9.44-1.214zM359.355 207.604H206.967v26.67H341.07c3.004 0 5.433 2.438 5.433 5.44v108.23c0 3.002-2.43 5.44-5.432 5.44H206.968v26.69h152.397c10.93 0 19.775-8.865 19.775-19.767V227.36c0-10.92-8.855-19.756-19.785-19.756zM175.42 401.856c10.91 0 19.766-8.855 19.766-19.775V128.484c0-10.93-8.865-19.775-19.766-19.775H42.473c-10.93 0-19.756 8.855-19.756 19.775V382.08c0 10.93 8.836 19.776 19.756 19.776H175.42zm-66.803-12.077c-6.885 0-12.45-5.566-12.45-12.442 0-6.875 5.565-12.45 12.45-12.45 6.866 0 12.44 5.575 12.44 12.45-.01 6.876-5.584 12.44-12.44 12.44zm-59.24-243.013c0-3.002 2.438-5.432 5.44-5.432h108.23c3.002 0 5.44 2.43 5.44 5.432v195.247c0 3.003-2.438 5.432-5.44 5.432H54.826c-3 0-5.44-2.43-5.44-5.432V146.767h-.01z"/>
    </g>
  </svg>
  Please rotate your device
</div>

{{> footer}}
